version: '3'
services:
  service-registery:
    container_name: service_registery
    image: ashish84/service_registery
    build:
      context: ./service-registery
      dockerfile: Dockerfile
    ports:
      - 8761:8761

  config-server:
    container_name: config_server
    image: ashish84/config_server
    build:
      context: ./config-server
      dockerfile: Dockerfile
    ports:
      - 8085:8085
    depends_on:
      - service-registery
    environment:
      - SERVICE_REGISTERY_URL=http://service-registery:8761/eureka
    healthcheck:
      test: ["CMD", "curl", "-f", "http://config-server:8085/actuator/health"]
      interval: 5s
      timeout: 5s
      retries: 3

  mongodb:
    container_name: mongodb
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - ./data/mongo:/data/db

  rating-service:
    container_name: rating_service
    image: ashish84/rating_service
    build:
      context: ./rating-service
      dockerfile: Dockerfile
    ports:
      - 8083:8083
    depends_on:
      service-registery:
        condition: service_started
      config-server:
        condition: service_healthy
      mongodb:
        condition: service_started
    environment:
      - MONGODB_URI=mongodb://mongodb:27017 # this is used in application.yml
      - CONFIG_SERVER_URL=http://config-server:8085 # this is used in rating-service application.yml
      - SERVICE_REGISTERY_URL=http://service-registery:8761/eureka # we have to use service name here

  cassandra:
    container_name: cassandra
    image: cassandra
    ports:
      - 9042:9042
    volumes:
      - ./data/cassandra:/var/lib/cassandra

  hotel-service:
    container_name: hotel_service
    image: ashish84/hotel_service
    build:
      context: ./hotel-service
      dockerfile: Dockerfile
    ports:
      - 8082:8082
    depends_on:
      service-registery:
        condition: service_started
      config-server:
        condition: service_healthy
      cassandra:
        condition: service_started
    restart: on-failure:10 # because cassandra health check yet to implement is it failing to conect to cassandra
    environment:
      - CASSANDRA_HOST=cassandra # service name line no - 56
      - CONFIG_SERVER_URL=http://config-server:8085 # no localhost allowed for cross service communication
      - SERVICE_REGISTERY_URL=http://service-registery:8761/eureka