server:
  port: 8083

spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017
      database: microservice
  application:
    name: RATING-SERVICE
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:file:/data/rating # mac -> dbc:h2:~/rating
    username: sa
    password: password
    driverClassName: org.h2.Driver
  config:
    import: configserver:http://localhost:8085

# commenting eureka config because we will get this from config-server (github)
#eureka:
#  instance:
#    preferIpAddress: true
#  client:
#    serviceUrl:
#      defaultZone: http://localhost:8761/eureka