server:
  port: 8081

spring:
  application:
    name: USER-SERVICE
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:file:/data/demo # mac -> jdbc:h2:~/user
    username: sa
    password: password
    driverClassName: org.h2.Driver
  config:
    import: configserver:http://localhost:8085

# commenting eureka config because we will get this from config-server (github)
#eureka:
#  instance:
#    preferIpAddress: true
#  client:
#    serviceUrl:
#      defaultZone: http://localhost:8761/eureka

# actuator config
management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

# circuit breaker config
resilience4j:
  circuitbreaker:
    instances:
      ratingHotelBreaker:
        failure-rate-threshold: 10
        minimum-number-of-calls: 5
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 5s
        permitted-number-of-calls-in-half-open-state: 3
        sliding-window-size: 10
        sliding-window-type: count_based
        register-health-indicator: true
        event-consumer-buffer-size: 10
  retry:
    instances:
      userRatingService:
        max-attempts: 3
        wait-duration: 2s
