server:
  port: 8082

spring:
  application:
    name: HOTEL-SERVICE
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:file:/data/hotel
    username: sa
    password: password
    driverClassName: org.h2.Driver

eureka:
  instance:
    preferIpAddress: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka